body{
    display: flex;
    justify-content: center;
    background-color: darkgray;
}

#content{
    border:  5px solid black;
    width: 1000px;
    height: 900px;
    background-color: cadetblue;
    text-align: center;
}
#header{
    height: 90px;
    border:  5px solid black;
    text-align: center;
}
#nav{
    height: 50px;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-top: 25px;
    border-spacing: 10px;
    
}
.nav-btn{
    border: 2px solid black;
    padding: 5px;
}
.imgchar{
    width: 380px; 
    height: 200px;
    border:  5px solid black;
}
.info{
    height: 20px;
}
a:hover{
  background-color: black;
  font-size: 18px;
  color: white;
  border: 4px solid white;
}
.Movie2{
    width: 100xp;
    height: 550px;
}